<footer class="w-auto mt-[18.3rem] h-32 bg-transparent/10">
    <div>
        <h2 class="absolute text-3xl mx-10 my-10">UnoxDevs<span class="text-sm">.cf</span></h2>
        <a href="https://github.com/unoxdevs/website" class="absolute text-sm mx-11 my-[4.5rem]">Open source on Github!</a>
    </div>
    <div class="relative float-right">
        <img class="w-24 md:w-24 lg:w-24 mx-10 mt-5 md:mt-5 lg:mt-5 opacity-30" src="https://i.hizliresim.com/l66qpgj.png" alt="Queaxtra Logo">
    </div>
</footer>