<script>
  import Footer from "./Footer.svelte";
</script>

<div class="text-center justify-center">
    <div>
        <h2 class="px-5 transition-all duration-300 text-4xl md:text-6xl lg:text-6xl relative mt-80 drop-shadow-md">Innovate. Code. Excel.</h2>
        <p class="px-5 transition-all duration-300 md:w-[30rem] lg:w-[30rem] mt-3 ml-auto mr-auto left-0 right-0 opacity-80">UnoxDevs is a small team of developers trying to make the world a better place by making open source projects.</p>
        <div class="flex px-5 justify-center text-center">
            <a href="https://github.com/unoxdevs" class="m-3 p-2 transition-all duration-300 bg-transparent/10 rounded px-3 md:px-10 lg:px-10 hover:scale-105"><i class="ri-github-fill relative top-0.5"></i> Github</a>
            <a href="https://twitter.com/unoxdevs" class="m-3 p-2 transition-all duration-300 bg-transparent/10 rounded px-3 md:px-10 lg:px-10 hover:scale-105"><i class="ri-twitter-fill relative top-0.5"></i> Twitter</a>
            <a href="https://instagram.com/unoxdevs" class="m-3 p-2 transition-all duration-300 bg-transparent/10 rounded px-3 md:px-10 lg:px-10 hover:scale-105"><i class="ri-instagram-line relative top-0.5"></i> Instagram</a>
        </div>
    </div>
</div>

<Footer />